@page "{id:int}"
@model FUNewsManagement.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container-fluid">
    <h1>Edit Category</h1>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Category.CategoryId" />
                
                <div class="mb-3">
                    <label asp-for="Category.CategoryName" class="form-label"></label>
                    <input asp-for="Category.CategoryName" class="form-control" />
                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Category.CategoryDesciption" class="form-label"></label>
                    <input asp-for="Category.CategoryDesciption" class="form-control" />
                    <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
                </div>
                
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary me-2">Save</button>
                    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
